[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "6.21.0"
pyserial = "3.5"
requests = "2.34.2"

[dev-packages]


[requires]
python_version = ">=3.12"
